<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardMapper">
<!-- id = 매소드이름, resultType = -->
	<!-- 지역별리스트 -->
	<select id="selectLocalNameList" resultType="java.util.Map">
		SELECT local_name localName, count(*) cnt
		FROM board
		GROUP BY local_name 
	</select> 
	
	<!--전체리스트 -->
	<select id="selectBoardListByPage" 
			parameterType="java.util.Map" 
			resultType="com.goodee.mvcboard.vo.Board">
			<!-- //parameterType="java.util.Map가 단일값이면 그냥 쓰면 됨 -->
		SELECT 
			board_no boardNo, 	
			local_name localName, 
			board_title boardTitle, 
			member_id memberId, 
			createdate
		FROM board
		<where> <!-- 존재 할 수도 있고 없을 수도 있음 // &&를 사용할 수 없음 -> &amp;&amp; -->
			<if test="localName != null">
				local_name = #{localName}
			</if>	
		</where>
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select> 
	
	<select id="selectBoardCount" 
			resultType="int">
		SELECT COUNT(*)
		FROM board
	</select> 
	
	<!-- 상세 -->
	<select id="selectBoardOne"
			parameterType="com.goodee.mvcboard.vo.Board"
			resultType="com.goodee.mvcboard.vo.Board">
		SELECT 
			board_no boardNo, 	
			local_name localName, 
			board_title boardTitle,
			board_content boardContent, 
			member_id memberId, 
			createdate,
			updatedate
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시글 추가 -->
	<insert id="insertBoard" 
			parameterType="com.goodee.mvcboard.vo.Board">
		<!-- insert하고 나서(boardNo가 비어있음) set을 호출하여 저장 / keyProperty - 필드명 -->
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO board(
			local_name,
			board_title,
			board_content,
			member_id,
			createdate,
			updatedate
		) VALUES (
			#{localName}, 
			#{boardTitle},
			#{boardContent},
			#{memberId},
			now(),
			now()
		)
	</insert> 
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE board
		SET 
			local_name = #localName},
			board_title = #{boardTitle},
			board_content = #{boardContent},
			updatedate = NOW()
		WHERE board_no = #{boardNo} 
		AND member_id = #{memberId}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		DELETE FROM board
		WHERE board_no = #{boardNo}
		AND member_id = #{memberId}
	</delete>
</mapper>